{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'forum/css/style.css' %}" />
    <title>{% block title %}Forum page{% endblock %}</title>
</head>
<body>

<div id="menu">
USER={{ user.username }}<br>
            {% block nav-global %}

                <!-- MENU -->
                <h3><a  href="{% url 'forum:main' %}">PhotoApp</a></h3>
                <h4><a  href="{% url 'admin:index' %}">Admin</a></h4>
                {% if user.is_staff %}
                {% endif %}
            {% if not user.is_authenticated %}<a href="/accounts/login/?next=/forum/">login</a> | <a
                href="/accounts/register/">register</a>{% endif %}

            {% if user.is_authenticated %}
                <a href="/accounts/logout/?next=/forum/">logout</a>
                <a href="{% url 'forum:profile' user.pk %}">Edit profile</a>
                {% endif %}
            {% endblock %}
        </div>

          {% block content %}{% endblock %}
</body>
</html>